{%extends 'base.html'%}

{%block content%}
<head>

</head>
    <div id="stripe">
        <button onclick="location.href='/'"type="button">Home Page</button>
        <button type='button' id="newColors" style="align-self:left" onclick="location.href='/shipmentTable.html'">get coordinated items</button>
        <button type='button' id="newColors" style="align-self:left" onclick="implement_filters()">implement filters</button>
        <span class="answer"></span>
        <select id="itemButton" name="item" size="1" style="border:none; display: inline-block;margin-left: 40px;">
            <option value="">Item Type</option>
            <option value="bed">Bed</option>
            <option value="desk">desk</option>
            <option value="TV">TV</option>
            <option value="washing machine">washing machine</option>
            <option value="bed">laptop</option>
            <option value="fridge">fridge</option>
            <option value="oven">oven</option>
            <option value="sofa">sofa</option>
            <option value="microwave oven">microwave oven</option>
            <option value="chair">chair</option>
            <option value="computer screen">computer screen</option>
            <option value="keyboard">keyboard</option>
        </select>
        <select id="cityButton" name="city" size="1" style="border:none; margin-left: 40px;">
            <option value="">City</option>
            <option value="Tel Aviv">Tel Aviv</option>
            <option value="Herzeliya">Herzeliya</option>
            <option value="Natanya">Natanya</option>
            <option value="Jerusalem">Jerusalem</option>
            <option value="Ranana">Ranana</option>
            <option value="Kfar sava">Kfar sava</option>
            <option value="Haifa">Haifa</option>
            <option value="Rosh Haain">Rosh Haain</option>
            <option value="Modiin">Modiin</option>
            <option value="Beer Sheva">Beer Sheva</option>
        </select>
    </div>


{% for item in matchedItems %}
    {% for request in openRequests %}  
       {% if item.request_id == request.id %}
                <div>
                    <ul>
                        <table class="table table-bordered table-striped" style="width:85%; margin-top:20px">
                            <tr>
                                <td>Item type</td>
                                <td>pick up</td>
                                <td>drop off</td>
                                <td>URL</td>
                                <td>Pic</td>
                                <td>coordinate form</td> 
                            </tr>
                            <tr>
                                <td>{{item.title}}</td>
                                <td>{{item.city}}</td>
                                <td>{{item.city}}</td>
                                <td><a href="{{item.url}}">link</a></td>
                                <td><img src="{{item.picture}}" style='width:150px; height:150px'/></td>
                                <td><button type='input' class="btn btn-primary"     
                                onclick="set_for_coordination();">
                                open</button>
                                <button type='input' class="btn btn-danger"     
                                        style="margin-left:10px" onclick="hide_form();">close</button>
                                </td>
                            </tr>
                        </table>
                    </ul>
                </div>

                <div class="jumbotron center" id="coordination-div" hidden="true" style="margin-bottom:10%; margin:auto; width:60%; border:3px solid white; padding:10px; background:lavender">
                    <h1 class="display-4" style="text-align:center">COORDINATION FORM</h1> 
                    <h5 style="text-align:center">Insert Dates and times for transfer after coordinating with the relevant contacts:</h5> 
                    <form  method="POST" hidden="true" id="coordination-form" style="margin: auto; width:60%; margin-top:7%">    {%csrf_token%}
                        <div  class="row">
                            {{form.as_p}}
                            <button class="btn-success" type="submit" value="send" style="height:24%;width:50%; border:solid white 2px; margin-top:10px">schedual</button>
                            <img class="card-img-top" src="" id="image_url" alt="Card image cap" style="border:solid white 2px; self-align:center;height:30%; width:40%">
                        </div>
                    </form>
                </div>
        {% endif %}
    {%endfor%}
{%endfor%}
{%endblock%}

